.WeatherDataCont {
    background-color: rgba(200,200,200,0.5);
    width:400px;
    height: 100px;
    line-height: 100px; 
    border-radius: 5px;
}
.WeatherExtraInfoCont
{
    display: inline-block;
    width: 40%;
    line-height: 28px;
    text-align: left;

}

.WeatherTemperatureCont
{
    display: inline-block;
    width: 60%;
}

.temperature{
    font-size:30px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;

}

.temperatureType {
    font-weight: bold;
    color: #666
}

.extraInfoText {
    display: block;
    color: #1535C5;
    font-size: 16px;
    font-weight: bold;
}

.wicon {
    color: rgba(255,72,0)
}